{
    "VLAN_MEMBER": {
        "{{ vlan_ports_list[0].vlan }}|{{ vlan_ports_list[0].dev }}": null,
        "{{ vlan_ports_list[1].vlan }}|{{ vlan_ports_list[1].dev }}": null,
        "{{ vlan_ports_list[2].vlan }}|{{ vlan_ports_list[2].dev }}": null,
        "{{ vlan_ports_list[3].vlan }}|{{ vlan_ports_list[3].dev }}": null,
        "{{ vlan_ports_list[4].vlan }}|{{ vlan_ports_list[4].dev }}": null,
        "{{ vlan_ports_list[5].vlan }}|{{ vlan_ports_list[5].dev }}": null,
        "{{ vlan_ports_list[6].vlan }}|{{ vlan_ports_list[6].dev }}": null,
        "{{ vlan_ports_list[7].vlan }}|{{ vlan_ports_list[7].dev }}": null,
        "{{ vlan_ports_list[8].vlan }}|{{ vlan_ports_list[8].dev }}": null,
        "{{ vlan_ports_list[9].vlan }}|{{ vlan_ports_list[9].dev }}": null,
        "{{ vlan_ports_list[10].vlan }}|{{ vlan_ports_list[10].dev }}": null,
        "{{ vlan_ports_list[11].vlan }}|{{ vlan_ports_list[11].dev }}": null,
        "{{ vlan_ports_list[12].vlan }}|{{ vlan_ports_list[12].dev }}": null,
        "{{ vlan_ports_list[13].vlan }}|{{ vlan_ports_list[13].dev }}": null,
        "{{ vlan_ports_list[14].vlan }}|{{ vlan_ports_list[14].dev }}": null,
        "{{ vlan_ports_list[15].vlan }}|{{ vlan_ports_list[15].dev }}": null,
        "{{ vlan_ports_list[16].vlan }}|{{ vlan_ports_list[16].dev }}": null,
        "{{ vlan_ports_list[17].vlan }}|{{ vlan_ports_list[17].dev }}": null,
        "{{ vlan_ports_list[18].vlan }}|{{ vlan_ports_list[18].dev }}": null,
        "{{ vlan_ports_list[19].vlan }}|{{ vlan_ports_list[19].dev }}": null,
        "{{ vlan_ports_list[20].vlan }}|{{ vlan_ports_list[20].dev }}": null,
        "{{ vlan_ports_list[21].vlan }}|{{ vlan_ports_list[21].dev }}": null,
        "{{ vlan_ports_list[22].vlan }}|{{ vlan_ports_list[22].dev }}": null,
        "{{ vlan_ports_list[23].vlan }}|{{ vlan_ports_list[23].dev }}": null
    }
}
