{
    "device": "Vlan{{ vlan_id }}",
	"hwaddr": "00:0c:29:e6:b4:{{ '%02X' % vlan_id }}",
    "runner": {
        "name": "vlan",
        "active": true,
        "fast_rate": true,
        "tx_hash": ["eth", "ipv4", "ipv6"]
    },
    "link_watch": {"name": "ethtool"},
    "ports": {"eth1": {}, "eth2": {}, "eth3": {}, "eth4": {}}
}
